.jumbotron {
  text-align: center;
  background: none;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}

.coolStuffWrapper {
  margin-top: 20px;
}

button.coolStuffBtn {
  background-color: red;
  color: #ffffff;
  display: block;
  margin: auto;
width: 10%;    
}

h5.modal-title {
  margin: auto;
}

.modalFormWrapper {
  padding: 2rem;
}

.imgCenter {
  display: block;
  margin: auto;
}

.btnCenter {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 54%;
    
}

.footerImg {
  padding: 15px;
}

.fa {
  margin: 10px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-google-plus-square {
  color: #c32f10;
}

.fa-instagram {
  color: #ffffff;
}

.socialWrapper {
  margin: auto;
}

/* Login Page */

body.sigin-body {
  background-color: #e6f2ff;
}

.container.signin-container {
  margin-top: 8%;
}

.card.signin-card {
  padding: 40px 0px 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.signin-img {
  padding: 0 2rem 2rem;
  margin: auto;
  display: block;
}

form.sigin-form {
  max-width: 350px;
  margin: auto;
}

button.signin-btn {
  color: #ffffff;
  background-color: #d64829;
  width: 100%;
  margin-bottom: 1.2rem;
}

a.create-new-account {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 15px;
}

/* Checkout */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


/* Style the input container */
.login-container {
  float: right;
    padding-left: 800px;
}

/* Signup 
--------- 
*/
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=email], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

























































